/*
 * @name Pestercord
 * @author luckyPlushy
 * @version 0.0.1
 * @description Emulates the look and feel of the chat client shown within the webcomic Homestuck. Supports only Light Mode at the moment.
 */

@import url('https://winterclover.github.io/Pesterchum-Discord-Theme/fonts/Courier Prime/stylesheet.css');

:root {
    --pc-burnt: #C48A00;
    --pc-gold: #FDB302;
    --pc-yellow: #FFF700;
}
