/**
 * @name Pesterchum Discord
 * @author Winter Clover#8124
 * @version 0.5.0
 * @description Emulates the look and feel of the chat clients shown within the webcomic Homestuck. Supports only Light Mode at the moment.
*/

@import url('https://winterclover.github.io/Pesterchum-Discord-Theme/fonts/stylesheet.css');
::placeholder, body, button, input, select, textarea, inline, code{font-family: 'courier_prime';}

.theme-dark, .theme-light{
	--l-normal: #D5B975;
    --l-hover: #EDDBB1;
    --l-active: #fff;
	
	--channels-alt: #8e9297;
    --alt-normal: #b9bbbe;
    --alt-hover: #dcddde;
    --alt-active: #fff;
    --alt-muted: #4f545c;
	
	--p-primary: #FDB302;
	--p-secondary: #C48A00;
	--p-teriary: #FFF700;

	--alt-modifier-hover: rgba(79,84,92,0.16);
    --alt-modifier-active: rgba(79,84,92,0.24);
    --alt-modifier-selected: rgba(79,84,92,0.32);
    --alt-modifier-accent: hsla(0,0%,100%,0.06);

}
.theme-dark {
	--background-primary: black;
	--background-secondary: #232527;
	--background-mentioned: rgba(250,166,26,0.15);
	--background-mentioned-hover: rgba(250,166,26,0.18);
	--background-message-hover: rgba(216,216,220,0.08);
	--scrollbar-auto-thumb: #40444A;
}
.theme-light {
	--channeltextarea-background: #fff;
	
	--background-modifier-hover: rgba(116,127,141,0.09);
    --background-modifier-active: rgba(116,127,141,0.18);
    --background-modifier-selected: rgba(116,127,141,0.27);
	--background-message-hover: rgba(6,6,7,0.06);
}
 .homeIcon-tEMBK1 {
    background: url(https://i.imgur.com/yeZEnGG.png) center/contain no-repeat;
	width: 35px;
	height: 35px;
	color:transparent;
}
/*Messages*/
 .form-2fGMdU {
	background-color: var(--p-primary);
}
 .form-2fGMdU:before {
	content: none;
}
 .scrollableContainer-2NUZem {
	border: .5vh solid;
	border-color: var(--p-secondary);
	border-radius: 0px;
}
 .channelTextAreaDisabled-8rmlrp {
	background-color: var(--p-secondary);
	border-radius: 0px;
}
 .chatContent-a9vAAp,  .tabBody-3YRQ8W {
	background-color: var(--p-primary);
}
 .messagesWrapper-1sRNjr,  .peopleColumn-29fq28,  .nowPlayingColumn-2sl4cE {
	background-color: var(--background-primary);
	margin: 16px;
	border: .5vh solid;
	border-color: var(--p-secondary);
}
 .chat-3bRxxu,  .container-1D34oG {
	border-left: .5vh solid;
	border-color: var(--p-teriary);
}
 .input-2A_zIr {
	color: white;
}
/*Members*/
 .members-1998pB{
	margin: 16px;
	border: .5vh solid;
	border-color: var(--p-secondary);
}
 .members-1998pB, .members-1998pB>div {
	background-color: var(--background-primary);
}
 .hiddenMembers-2dcs_q, .membersWrap-2h-GB4{
	background-color: var(--p-primary);
}
/*Top Bar*/
 .withFrame-haYltI, .bg-h5JY_x{
	background-color: var(--p-primary);
}
 .container-1r6BKw .clickable-3rdHwn .icon-22AiRD{
    color: var(--l-normal);
}
 .container-1r6BKw .clickable-3rdHwn:hover .icon-22AiRD{
	color:var(--l-hover);
}
 .container-1r6BKw .selected-1GqIat .icon-22AiRD {
    color: var(--l-active);
}
 .icon-22AiRD{
	color: white;
}
 .container-1r6BKw.themed-ANHk51 {
	background-color: var(--p-secondary);
}
.theme-dark .children-19S4PO:after,.theme-light .children-19S4PO:after {
	background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,var(--message-background-alt));
}
 .title-29uC1r {
	color: white;
}
 .topic-TCb_qw {
	color: white;
}
 .nicknames-1XK4Zt {
	color: white;
}
/*Sidebar*/
 .sidebar-2K8pFh:before {
	content: "PESTERCHUM 6.0";
	font-size: 27px;
	font-weight: 700;
	text-align: center;
	padding: 10.8px 0px 10.8px;
	color: white;
}
 .button-14-BFJ{
	color: var(--alt-normal);
}
 .button-14-BFJ.enabled-2cQ-u7:hover {
    color: var(--alt-hover);
    background-color: var(--alt-modifier-selected)
}
 .container-2ax-kl {
	color: var(--channels-alt);
}
 .privateChannelsHeaderContainer-3NB1K1:hover {
    color: var(--alt-hover)
}
 .base-3dtUhz {
	border: .5vh solid;
	border-color: var(--p-teriary);
}
 .sidebar-2K8pFh {
	border-radius: 0px;
	background: var(--p-primary);
}
 .container-3w7J-x {
	background: black;
	margin: 8px;
	margin-top: 0px;
	border: .5vh solid;
	border-color: var(--p-teriary);
}
 .privateChannels-1nO12o {
	background: black;
	margin: 8px;
	margin-top: 0px;
	border: .5vh solid;
	border-color: var(--p-teriary);
}
 .container-3baos1 {
	background: black;
	margin: 8px;
	border: .5vh solid;
	border-color: var(--p-teriary);
}
 .panels-j1Uci_ {
	background-color: var(--p-primary);
}
 .scroller-1JbKMe {
	background: black;
}
/*Channels*/
 .unread-2lAfLh {
	background-color: var(--alt-active);
}
 .close-relY5R {
	color: var(--alt-normal)
}
 .close-relY5R:hover {
    color: var(--alt-hover)
}
 .message-3SOT5P {
	backrground-color: var(--alt-active);
}

 .wrapper-PY0fhH.muted-2JBAyG, .wrapper-PY0fhH.muted-2JBAyG .name-3l27Hl {
	color:var(--alt-muted);
}
 .wrapper-PY0fhH.muted-2JBAyG:hover .icon-2yIBmh, .wrapper-PY0fhH.muted-2JBAyG:hover .name-3l27Hl, .wrapper-PY0fhH:hover .icon-2yIBmh, .wrapper-PY0fhH:hover .name-3l27Hl {
	color: var(--alt-hover);
}
 .modeMuted-onO3r- .icon-1DeIlz, .modeMuted-onO3r- .name-23GUGE {
	color: var(--alt-muted);
}

 .wrapper-CU3qI5.muted-1NRuDm,.wrapper-CU3qI5.muted-1NRuDm .name-IbjUBS {
    color: var(--alt-muted)
}
 .wrapper-CU3qI5.muted-1NRuDm:hover .icon-WnO6o2,.wrapper-CU3qI5.muted-1NRuDm:hover .name-IbjUBS,.wrapper-CU3qI5:hover .icon-WnO6o2,.wrapper-CU3qI5:hover .name-IbjUBS {
    color: var(--alt-hover)
}

 .privateChannels-1nO12o .container-2Pjhx- {
	color: var(--channels-alt);
}
 .privateChannels-1nO12o .clickable-1JJAn8.container-2Pjhx-:active, .privateChannels-1nO12o .highlighted-1gWxXa.container-2Pjhx-, .selected-aXhQR6.container-2Pjhx- {
	color: var(--alt-active);
}
 .privateChannels-1nO12o .clickable-1JJAn8.container-2Pjhx-:hover, .privateChannels-1nO12o .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i {
	color:var(--alt-hover);
}

 .wrapper-1ucjTd:hover .content-3at_AU {
    background-color: var(--alt-modifier-hover);
}
 .wrapper-1ucjTd:active .content-3at_AU {
    background-color: var(--alt-modifier-active);
}
 .modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU {
    background-color: var(--alt-modifier-selected);
}
.header-2o-2hj, .title-eS5yk3,  .header-2V-4Sw{
	color: var(--alt-active);
}
.item-2hkk8m {
	background-color: var(--alt-active);
}
.name-23GUGE {
	color: var(--channels-alt);
}
.modeConnected-3IsKId .name-23GUGE, .modeConnected-3IsKId:hover .name-23GUGE, .modeSelected-346R90 .name-23GUGE, .modeSelected-346R90:hover .name-23GUGE, .modeUnread-1qO3K1 .name-23GUGE, .modeUnread-1qO3K1:hover .name-23GUGE, .notInteractive-1X92pj.modeConnected-3IsKId .name-23GUGE, .notInteractive-1X92pj.modeSelected-346R90 .name-23GUGE {
	color: var(--alt-active);
}
 .modeMuted-onO3r:hover .name-23GUGE, .wrapper-2jXpOf:hover .name-23GUGE {
	color: var(--alt-hover);
}
.modeMuted-on03r .icon-1_QxNX, .modeMuted-3osy7j .name-23GUGE {
	color: var(--alt-muted);
}
.scroller-2TZvBN {
	background: var(--p-primary);
}
.childWrapper-anI2G9, .wrapper-1BJsBx {
	background-color: white;
}
.expandedFolderBackground-2sPsd-, .folder-21wGz3 {
	background-color: white;
}
.childWrapper-anI2G9 {
	color: black;
	}
.wordmark-2iDDfm {
	visibility: hidden;
}
.icon-3BcwQu, .username-lm8y6T {
    color: var(--channels-alt);
}
.listDefault-2y5Z9D .clickable-23RaYz.selected-3TGCSZ .username-lm8y6T, .usernameSpeaking-2xbKKh {
    color: var(--alt-active);
}
.listDefault-2y5Z9D .clickable-23RaYz:hover .username-lm8y6T {
	color: var(--alt-hover);
}

 .wordmark-2iDDfm:before {
	visibility: visible;
	position: absolute;
    top: 0;
    left: 0;
	padding: 4px 9px 3px;
	content: "PESTERCHUM";
	font-weight: 700;
	font-size: 16px;
	color: white;
}
.winButton-iRh8-Z {
	color: white;
}
/*vc*/
 .listDefault-3ir5aS .clickable-1lCRLF.selected-3t3Csj .username-3KYl0N, .usernameSpeaking-RmltQx {
	color: var(--alt-active);
}
.listDefault-3ir5aS .clickable-1lCRLF:hover .username-3KYl0N {
	color: var(--alt-hover);
}
 .icon-2IuuZd, .username-3KYl0N {
	color: var(--channels-alt);
}